
body {
    background-color: gray;
  }
 
.conversation {
        font-family: "YujiBoku", cursive;
    font-size: 150%;
    width: 40%;
    display: inline-table;
    height: 100%;
    padding: 5%;
    padding-bottom: 40%;
    
}


.conversation {
    background: url(../img/comillas.png) #cf7676;
    background-size: 4%;
    background-repeat: no-repeat;
    background-position-x: 25px;
    opacity: 0.9;
    content: "";
    top: 1%;
    left: 400px;
    bottom: 10%;
    right: 7%;
    position: absolute;
    z-index: -1;
    border-radius: 20px;
} 

 

.space {

    display:none;
  
  
  }

.hidden {
    display:none;
    
}

.contact {

    float: left;
    clear: left;

    background-color: lightblue;
    padding: 25px 25px 25px 25px;
    
    border-radius: 20px;

}


.column-contacts {
    float: right;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: left;
  }

@font-face {
    font-family: "YujiBoku";
    src: url("../fonts/YujiBoku-Regular.ttf");
}

.conversation {

}